//.button {
//	display: block;
//	float: left;
//	background: none;
//	border: 2px solid #fff;
//	color: #fff;
//	text-decoration: none;
//	text-transform: lowercase;
//	@include rems(padding, 1.5, 2.5);
//	-webkit-transition: 0.4s all ease;
//	transition: 0.4s all ease;
//	@include box;
//	&:hover {
//		background: rgba(255, 255, 255, 0.25);
//		-webkit-transition: 0.4s all ease;
//		transition: 0.4s all ease;
//	}
//	@media #{$phone} {
//		float: none;
//		width: 80%;
//		margin: 0 10%;
//		text-align: center;
//	}
//	.desktop {
//		@include phone-hide;
//	}
//	.mobile {
//		display: none;
//		@media #{$phone} {
//			display: block;
//		}
//	}
//}
.close-container {
	@include rems(max-width, 100);
	margin: 0 auto;
	width: 90%;
	@include clearfix;
	position: relative;
}
.close-button {
	background: url(images/imagemap.png) -123px 0 no-repeat;
	width: 24px;
	height: 24px;
	text-indent: -10000px;
	display: block;	
	float: right;
	position: absolute;
	@include rems(top, 4);
	right: 0;	
}
.overlay-close {
	@extend .close-button;
	position: absolute;
	right: 0;
	@include rems(margin-top, 4);
	z-index: 1;
	.mobile & {
		margin-top: 0;	
	}
}
.bx-controls {
	.bx-pager {
		position: relative;
		z-index: 400;
		@include clearfix;
		text-align: center;
		&-item {
			display: inline-block;
			@include rems(margin, 0, 0.5);
			a {
				display: block;
				text-indent: -10000px;
				@include rems(width, 1);
				@include rems(height, 1);
				background: #fff;
				border-radius: 50%;	
				opacity: 0.4;
				&.active {
					opacity: 1;
				}	
			}
		}
	}
	.bx-prev, .bx-next {
		width: 34px;
		height: 65px;
		display: block;
		text-indent: -10000px;
		background: url(images/imagemap.png);
		background-position: -536px 0;
		z-index: 410;
		position: relative;	
		float: left;
		&.disabled {
			display: none!important;	
		}
	}
	.bx-next {
		float: right;	
		background-position: -574px 0;
	}
}
