.specialForms{
  input[type="text"]:hover, input[type="text"]:focus, input[type="search"]:hover, input[type="search"]:focus {
    color: #000;
    border-color: #000;
  }
  input[type="text"], input[type="search"] {
    margin-right: 20px;
    color: #767676;
    background: #fff;
    border: 2px solid #ccc;
  }
  input[type="text"], input[type="search"] {
    display: inline-block;
    font-family: "HPSimplified",Arial;
    font-size: 1em;
    line-height: 1.375em;
    height: 32px;
    _height: 36px;
    vertical-align: top;
  }
}