html {
  @media #{$tablet} {
    font-size: 50%;
  }
  width: 100%;
  @include box;
}
body {
  font-family: 'HPSimplifiedLight', sans-serif;
  font-weight: 300;
  color: #626262;
  @include font-size(1.8, 2.4);
  width: 100%;
  background: $white !important;
}
/* remove below line */
html {
  //@include rems(margin-top, 2);
  //@include rems(margin-bottom, 2);
}
/* until to this */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  @include rems(max-width, 100);
  @include clearfix;
}
.fluid-width-video-wrapper {
  @include rems(min-height, 37.2);
  @include box;
  border: 2px solid #fff;
  position: relative;
  z-index: 50;
  @media #{$phone} {
    @include rems(min-height, 24.8);
    border: none;
  }
}
.vertical-center {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.content-box {
  display: block;
  width: 32%;
  @include box;
  @include rems(padding, 2);
  color: #fff;
  h2 {
    @include font-size(3.6, 4.6);
    @include rems(margin-bottom, 1.5);
    text-transform: lowercase;
  }
}
section {
  &.content {
    //@include background-cover;
    //background-position: top center;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include box;
    .container {
      display: table;
      @include box;
      @media #{$phone} {
        // display: block;	// Ben's style ( removed )
      }
    }
  }
}

.desktop-link {
  @media #{$phone} {
    display: none!important;
  }
}
.mobile-link {
  display: none!important;
  @media #{$phone} {
    display: block!important;
  }
}

.footer_lang_container {
  display: none;
}
.locale-stripe {
  background: #fff;
  @include rems(padding, 1, 0);
  @include clearfix;
  @include box;
  .container {
    position: relative;
    @media #{$phone} {
      width: 90%;
    }
    @media #{$tablet-landscape} {
      width: 90%;
    }
  }
  a {
    color: #000;
    text-decoration: none;
  }
  ul {
    &.sites-list {
      position: absolute;
      z-index: 200;
      background: #fff;
      border: 2px solid #eee;
      @include rems(bottom, 4);
      @include rems(padding, 2);
      display: none;
    }
  }
}

.password-entry {
  background: $pink;
  form {
    background: #F2F2F2;
    @include rems(padding, 6);
    width: 100%;
    @include rems(max-width, 60);
    margin: 40px auto;
    margin: 4rem auto;
    text-align: center;
    input {
      &[type='password'] {
        @include rems(padding, 0.5);
        background: #fff;
        border: 1px solid #626262;
        display: inline-block;
        width: 60%;
        @include box;
        @include font-size(1.8, 2.4);
        &:focus, &:active {
          border: 1px solid $purple;
        }
      }
      &[type='submit'] {
        background: $purple;
        color: #fff;
        display: inline-block;
        @include rems(padding, 0.6, 1.5);
        border: none;
        @include font-size(1.8, 2.4);
        cursor: pointer;
        &:hover {
          background: $trans-purple;
        }
      }
    }
  }
}


/* Wire-frame */

.desktopOnly{
  display: block;
  @media #{$phone}{
    display: none !important;
  }
}
.mobileOnly{
  display: block;
  @media #{$desktop}{
    display: none !important;
  }
}
.table{
  &.fullHeight{
    height: 100%;
  }
  display: table;
  width: 100%;
  position: relative;
  .cell.auto{
    width: auto !important;
  }
  .cell{
    display: table-cell;
    width: 100%;
    position: relative;
  }

  .cell.middle{
    vertical-align: middle;
  }
  .cell.top{
    vertical-align: top;
  }
  .cell.bottom{
    vertical-align: bottom;
  }
  .cell.baseline{
    vertical-align: baseline;
  }
}
.inlineBlock{
  display: inline-block
}
.textRight{
  text-align: right
}
.textLeft{
  text-align: left
}
.textCenter{
  text-align: center;
}
.button{
  @include rems('padding-left',1.2);
  @include rems('padding-right',1.2);
  @include rems('padding-top',.6);
  @include rems('padding-bottom',.6);
  white-space: nowrap;
  background-image: none;
  outline: none;
  border: 0px;
  cursor: pointer;
  &.btn-gray{
    background: $purple;
    color: $white;
    text-decoration: none;
    @include font-size(1.8, 3);
    font-family: 'HPSimplifiedLight', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    @include rems('padding-left',3);
    @include rems('padding-right',3);
  }
  &.btn-blue{
    background: #0096d6;
    color: $white;
    text-decoration: none;
    @include font-size(1.8, 3);
    font-family: 'HPSimplifiedLight', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    @include rems('padding-left',3);
    @include rems('padding-right',3);
  }
}
.input-rest{
  background-image: none;
  outline: none;
  border: 0px;
}


.navigation-tabs{
  display: block;
  width: 100%;
  list-style: none;
  text-align: center;
  @include rems('margin-top',2);
  border-bottom: 1px solid $dark-gray;
  li.active,li.current_page_item {
    a{
      border-bottom: 4px solid $burgundy;
      color: $black;
    }
  }
  li {
    display: inline-block;
    a:hover{
      border-bottom: 4px solid $burgundy;
      color: $black;
    }
    a{
      font-family: 'HPSimplified', sans-serif;
      border-bottom: 2px solid transparent;
      display: block;
      text-decoration: none;
      @include rems('padding-top',.8);
      @include rems('padding-bottom',.8);
      @include rems('margin-left',4);
      @include rems('margin-right',4);
      //margin: 0 20%;
      cursor: pointer;
      color: $dark_grey;
    }
  }
}
.tabs-panels{
  width: 100%;
  position: relative;
  display: block;
  list-style: none;
  @include rems('margin-bottom',2);
  float: left;
  .slide{
    display: none;
    width: 100%;
    float: left;
    @media #{$phone} {
      display: block;
    }
  }
}

.footer,
.locale-stripe {
  position: relative;
}



