.techSpec
  @media #{$phone}
    h2
      text-align: center
      padding: 10px 0
      @include font-size(6,6)
      color: $black
  .container
    @media #{$phone}
      @include rems('padding',0,0.5)
    .specImageWrapper
      @include rems('margin-top',4.5)
  .specDetails
    @include rems('margin-top',8)
    h2
      @include font-size(3,3)
      text-align: left
      color: $black
      @include rems('padding-bottom',3)
.techSpecFooter
  @media #{$phone}
    @include rems('margin-top',7)
  .module-7
    .container
      @media #{$phone}
        margin-top: 0


