//@font-face {
//  font-family: 'HPSimplified';
//  src: url("../fonts/latin-e-regular-eot.eot");
//  src: url("../fonts/latin-e-regular-eot.eot?#iefix") format("embedded-opentype"),url("../fonts/latin-e-regular-woff.woff") format("-woff.woff"),url("../fonts/latin-e-regular-ttf.ttf") format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'HPSimplifiedLight';
//  src: url("../fonts/latin-e-light-eot.eot");
//  src: url("../fonts/latin-e-light-eot.eot?#iefix") format("embedded-opentype"),url("../fonts/latin-e-light-woff.woff") format("-woff.woff"),url("../fonts/latin-e-light-ttf.ttf") format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}

// use htp fonts

p {
    @include font-size(1.8, 2.4);
}

