.module-5
  .container
    .tabsNavigationHolder
      a
        @media #{$tablet-portrait}
          @include font-size(2.2, 3)
        @media #{$tablet-landscape}
          @include font-size(2, 3)
    h2
      @include font-size(3.5, 4)
      color: $black
      @include rems('padding-top',6.4)
      @include rems('padding-bottom',0)
      @include rems('margin-bottom',1.8)
      text-align: center
      @media #{$phone}
        @include font-size(4, 4)
        @include rems('padding-top',4)
    h4
      @include font-size(2.4, 2.4)
      text-align: center
    .tabs-panels
      margin-bottom: 0 !important
      @media #{$desktop}
        @include rems('margin-top',2)

      .slide
        @media #{$phone}
          @include rems('margin-bottom',2)
        h2
          @include rems('padding-top',2)
          @include rems('padding-bottom',2)
          @include font-size(2.4, 2.4)
          margin-bottom: 0
          width: 100%
          text-align: center
          @media #{$phone}
            @include font-size(2.7, 2.4)
          a
            position: absolute
            display: inline-block
            text-decoration: none
            color: $burgundy
            @include font-size(2.4, 2.4)
            font-family: 'HPSimplified', sans-serif
            right: 2%

        .creatorGallery
          &.thumbs
            li
              &:nth-child(1)
                width: 49.75%
                overflow: hidden
              &:nth-child(2)
                //background: $gray_0
                display: block
              @media #{$phone}
                .hoverBoxContainer
                  display: none !important
                  visibility: hidden !important
            .creator
              &.one
                @media #{$phone}
                  @include rowMachine(2,.5%)
                  display: block
              &.two
                background-size: 100% auto !important
                @media #{$phone}
                  background-size: cover !important
              &.rowTwo
                @media #{$phone}
                  @include rowMachine(2,.5%)
                  display: block
        .artistVideoGallery
          .artist
            &.one
              @media #{$phone}
                margin-right: 0
                display: block
                width: 100%
                .row
                  margin-bottom: 0
                  .col-full
                    margin-bottom: 0
            &.two
              @include rems('height',40+.5%)
              @media #{$phone}
                @include rems('height',20)
                display: none
        .vignetteVideos
          .vignette
            &.one
              @media #{$phone}
                width: 100%
              .two
                .col-full
                  margin-bottom: 0
              @media #{$phone}
                display: block
                margin-right: 0
                .one
                  width: 100%
                  margin-bottom: 0
                  .col
                    &:nth-child(1)
                      width: 100%
                      margin-bottom: 0
                      margin-right: 0
                    &:nth-child(2)
                      display: none
            &.two
              @include rems('height',40+.5%)
              @media #{$phone}
                @include rems('height',20)
                display: none

        .thumbs
          list-style: none
          display: block
          width: 100%
          float: left
          @media #{$phone}
            @include rems('margin-top',0)
          li
            @media #{$phone}
              height: 30rem
            .row,.col-full,.col
              position: relative
              overflow: hidden
              @media #{$phone}
                height: 30rem
            .col-full,.col
              .module-5-mobile-video-1,.module-5-mobile-video-2
                width: 100%
                height: 30rem
                background-color: transparent
                iframe#module-5-mobile-video-1
                  height: 81% !important
              .fluid-width-video-wrapper
                padding: 7.59% 6.32% !important
            position: relative
            float: left
            @include rowMachine(2,.5%)
            @media #{$phone}
              margin-bottom: 0 !important
            &:nth-child(2)
              @include rems('height',40)
              @media #{$phone}
                @include rems('height',30)
                width: 100%
            &:nth-child(1)
              @include rems('height',40+.5%)
              @media #{$phone}
                @include rems('height',30)
                display: none
            .col:hover, .col-full:hover, .col-full-height:hover, .col-full-height:active
              .hoverBoxContainer
                @media #{$phone}
                  @include opacity(1)
                  transition: none
                  background: none !important
                z-index: 1
                display: block
                background: $aqua
                bottom: 0
                top: 0
                opacity: 0.9
                transition: top 0.4s ease 0s
                -webkit-transition: top 0.4s ease 0s
              .row, .col-full-height
                overflow: hidden
              .col
                overflow: hidden

            .hoverBoxContainer
              display: block
              position: absolute
              top: 102%
              bottom: 0
              left: 0
              right: 0
              height: 100%
              width: 100%
              padding-top: 7.59%
              padding-bottom: 7.59%
              padding-left: 6.32%
              padding-right: 6.32%
              background: $aqua
              transition: top 0.4s ease 0s
              -webkit-transition: top 0.4s ease 0s
              @media #{$phone}
                z-index: 1
                @include opacity(1)
                transition: none !important
                top: 0 !important
                background: transparent !important
              .titleText
                position: absolute
                top: 0
                color: $white
                @media #{$phone}
                  display: none
              .more
                position: absolute
                bottom: 0
                @include font-size(1.8, 1.8)
                @media #{$phone}
                  display: none
                a
                  color: $white
                  @include font-size(1.8, 1.8)
                  text-decoration: none
                  font-family: 'HPSimplified', sans-serif
              .play
                text-align: center
                img
                  display: inline-block
                  max-width: 100%
                  width: auto !important
                  @include rems('max-height',10.6)
            .col-full-height
              display: table
              width: 100%
              height: 100%
              background-size: 100% auto !important
              @media (max-width: 670px)
                background-size: auto 100% !important
              @media #{$phone}
                display: block
                background-size: cover !important
            .row
              position: relative
              float: left
              @include rowMachine(1,0)
              &:nth-child(1)
                @include rems('height',20)
                @media #{$phone}
                  @include rems('height',30)
                margin-bottom: 1%
              .col
                position: relative
                float: left
                @include rowMachine(2,1%)
                @include rems('height',20)
                @media #{$phone}
                  @include rems('height',30)
              .col-full
                @include rowMachine(1,1%)
                @include rems('height',20)
                @media #{$phone}
                  @include rems('height',30)
              &:nth-child(2)
                @media #{$phone}
                  display: none !important

#module-5-overlay
  &.instant-slide
    -webkit-transition: 0.001s ease !important
    transition: 0.001s ease !important

