.module-5-5-2
  .container
    h2
      @include font-size(6,6)
      @include rems('padding-top',3.6)
      @include rems('padding-bottom',0)
      @include rems('margin-bottom',1.8)
      text-align: center
    h3
      @include font-size(3)
      @include rems('padding-top',1)
      @include rems('padding-left',0.5)
      @include rems('padding-right',0.5)
      @include rems('padding-bottom',0)
      @include rems('margin-bottom',1)
      text-align: center
    h4
      @include font-size(2)
      @include rems('padding-top',0)
      @include rems('padding-bottom',0)
      @include rems('padding-left',0.5)
      @include rems('padding-right',0.5)
      @include rems('margin-bottom',1)
      text-align: center
    .hoverBoxContainer
      padding: 3rem
      text-align: center
      height: 20rem
      margin-bottom: 1rem
      .play
        img
          max-height: 10.6rem




