.module-7
  .container
    @include rems('margin-top',1)
    @include rems('padding-top',0)
    @media #{$phone}
      padding-top: 0
    @include rems('margin-bottom',1)
    .wrapper
      background: url("images/m7-bg.png") no-repeat
      float: left
      width: 100%
      background-size: 100% 100%
      padding: 15px
      .row
        @include rowMachine(4,0.5%)
        float: left
        @media #{$phone}
          @include rowMachine(1, 0)
        display: inline-block
        margin-bottom: 0 !important
        @include rems('margin-top',1)
        text-align: center
        .footerIcon
          @include rems('height',4.2)
          @include rems('width',4.2)
          display: inline-block
          background-repeat: no-repeat
          background-attachment: fixed
          &.buy
            background: url("images/icon-map.png") no-repeat 0 0
          &.find
            background: url("images/icon-map.png") no-repeat -42px 0
          &.newsletter
            background: url("images/icon-map.png") no-repeat -126px 0
          &.developer
            background: url("images/icon-map.png") no-repeat -84px 0
        a
          text-decoration: none
          color: $purple
          @include font-size(1.8, 1.8)
          font-family: 'HPSimplified', sans-serif
          display: block
          width: 100%
          position: relative
        a:hover
          color: $trans-purple
        .footer-content
          @media #{$phone}
            height: 30px!important
            a
              display: table
              width: 100%
              position: relative
              @media #{$phone-lower}
                width: 150px
                overflow: hidden
                margin: 0 auto
                text-align: center
                display: block
              h2
                display: inline-block
                vertical-align: middle
                @media #{$phone-lower}
                  float: left
                  width: 100px
                  display: block
              img
                display: inline-block
                vertical-align: middle
                +rems('margin-left',2)
                @media #{$phone-lower}
                  width: 30px
                  height: 30px
                  float: left
                  display: block
          p, h4
            text-align: center
            color: $white
          p
            font-size: 18px
          h4
            font-size: 24px
            @include rems('padding-top',0.5)
          h2
            @media #{$phone}
              color: $white
              @include font-size(2.8,2.8)
            padding-bottom: 0
          a
            font-size: 18px
            @media #{$phone}
              color: $white
          .anchor
            padding-top: 20px



