.module-6
  @include rems('margin-bottom',3.4)
  .container
    .titleHolder
      text-align: center
      @include rems('padding-bottom',2)
      @media #{$phone}
        @include rems('padding-bottom',0)
      h2,h4
        text-align: center
      h2
        @include font-size(3.5, 4)
        @include rems('padding-top',6.4)
        @include rems('padding-bottom',0)
        @include rems('margin-bottom',1.8)
        text-align: center
        color: $black
        @media #{$phone}
          @include rems('padding-top',2)
          padding-bottom: 0
          @include font-size(4, 4)
      h4
        @include font-size(2.4, 2.8)
        color: $gray_0
        text-align: center
        @include rems('padding',0 , 11)
      .more
        display: inline-block
        text-decoration: none
        color: $burgundy
        @include font-size(1.8, 1.8)
        font-family: 'HPSimplified', sans-serif
        @include rems('padding-top',2)
        @media #{$tablet-portrait}
          @include font-size(2, 1.5)
    .detailsHolder
      position: relative
      @include rowMachine(1,0)
      float: left
      .appsDetails
        @media #{$phone}
          width: 100% !important
          float: left !important
          position: relative !important 
          .editorsPick
            position: absolute
            top: -100%
            @media #{$phone}
              padding: 0 !important
          .appIcon
            display: block
            width: 100%
          .editorsPickLabel
            display: block
            width: 100%
        .appIcon
          img
            max-width: 80px
        .editorsPickLabel
          @include rems('padding-left',1)
          font-family: 'HPSimplified', sans-serif
          color: $black
        .item
          @media #{$phone}
            @include rems('padding',0,0)
          h2
            @include font-size(3.5, 4)
            color: $black
            @media #{$tablet-portrait}
              @include rems('margin-right',2)
          p
            @include font-size(2.4, 2.8)
            @media #{$tablet-portrait}
              @include rems('margin-right',2)
            @media #{$tablet-landscape}
              @include rems('margin-right',2)
          .developerLink
            display: block
            text-decoration: none
            color: $burgundy
            @include font-size(1.8, 1.8)
            font-family: 'HPSimplified', sans-serif
            @include rems('padding-top',2)
            @media #{$tablet-portrait}
              @include font-size(2, 1.5)
            @media #{$phone}
              @include font-size(2.4, 2.4)
          .more
            display: block
            text-decoration: none
            color: $burgundy
            @include font-size(1.8, 1.8)
            font-family: 'HPSimplified', sans-serif
            @include rems('padding-top',2)
            @media #{$phone}
              @include rems('padding-top',1)
              @include font-size(2.4, 2.4)

      .row
        @include rowMachine(2,.5%)
        float: left
        @media #{$phone}
          &:nth-child(1)
            float: right
          width: 100%
          @include rems('padding',1)
          text-align: center
        &.featuredAppImage
          position: relative
          text-align: center
          //img
          //  position: relative
          //  display: inline-block
          //  max-width: 100%

        &.appsDetails
          position: absolute
          right: 0
          bottom: 0
          top: 0
        &:nth-child(1)
        .item:last-child
          margin-bottom: 0 !important
        .item
          @include rems('margin-bottom',2)



