.module-1
  z-index: 1
  .container
    position: relative
    @include rems('height',56)
    //@include rems('height',71)
    text-align: center // for center the get you sprout button
    @media #{$phone-lower}
      height: 300px
    h2
      @include font-size(5.5, 7)
      font-weight: 300
      @include rems('padding',0)
      @media #{$phone}
        -moz-transition: all 0.5s ease-out
        -o-transition: all 0.5s ease-out
        -webkit-transition: all 0.5s ease-out
        -ms-transition: all 0.5s ease-out
        transition: all 0.5s ease-out
      @media #{$phone-lower}
        @include font-size(5.5, 4)
    h2.mobile-banner-text
      @media #{$phone}
        margin-top: -24rem
        -moz-transition: all 0.5s ease-out
        -o-transition: all 0.5s ease-out
        -webkit-transition: all 0.5s ease-out
        -ms-transition: all 0.5s ease-out
        transition: all 0.5s ease-out
      @media #{$phone-lower}
        margin-top: 0 !important
    h4
      @include font-size(3.7, 6)
      font-weight: 300
      @include rems('padding',0)
      @media #{$phone-lower}
        @include font-size(3.7, 3)
        @include rems('padding-top',2)
        display: block
    .mobile
      display: none !important
      @media #{$phone}
        display: table-cell !important

  .videoBackground, .lower-mob
    position: absolute
    top: 0
    right: 0
    bottom: 0
    display: block
    width: 100%
    z-index: -1
    overflow: hidden
    @media #{$phone-lower}
      display: none
    #pretzel-video, #pretzel-video-mobile
      bottom: 0
      position: absolute
      //width: 100%
      height: 100%
      width: auto
      display: inline-block
      // this thing depend on video with and height
      //@media (min-width: 1280px)
      @media (min-width: 1500px)
        width: 100%
        height: auto
        //width: auto
    #pretzel-video-mobile
      display: none

  .lower-mob
    display: none
    @media #{$phone-lower}
      display: block
      img
        width: 100%
        height: 300px

  h2,h4
    margin: 0
    text-align: center
    color: #ffffff




