.module-da_12-ma_6
  .container
    .sliderHolder
      display: table
      width: 100%
      float: left
      position: relative
      //z-index: 999
      //width: 100%
      ////background: $gray
      //color: #000000
      @include rems(padding-bottom, 6)
      //@include full-width
      //@media #{$phone}
      //  @include rems(padding-bottom, 2)
      //h2
      //  @include rems(margin-bottom, 0)
      //  @include rems(padding-bottom, 1)

      .slider
        li
          display: inline-block
      .titleHolder
        text-align: center
        @include rems('padding-bottom',2)
        h2,h4
          text-align: center
      .row
        @include rowMachine(2,.5%)
        float: left
        @media #{$phone}
          width: 100%
          @include rems('padding',1)
          text-align: center
        &:nth-child(2)
          @include rems('height', 40)
          background: $gray_0
        .item:last-child
          margin-bottom: 0 !important
        .item
          @include rems('margin-bottom',2)
          .text
            @include rems('padding-left',3)
          p
            @include rems('padding-left',0)
            @include rems('padding-right',1)
            @include rems('padding-top',1)
            @include rems('padding-bottom',0)
          .placeHolder
            @include rems('width',10)
            @include rems('height',12)
            background: $gray_0

    .bx-controls
      width: 100%
      position: absolute
      @include rems(bottom, 1)
      text-align: center
      left: 0
      .bx-pager-item
        display: inline-block
        @include rems(margin, 0.5)
        a
          display: block
          text-indent: -10000px
          @include rems(width, 1)
          @include rems(height, 1)
          background: #6dc8c3
          border-radius: 50%
          &.active
            background: #fff
          @include phone-hide

