.specDrawing
  @include rems('margin-top',5)
  @media #{$phone}
    @include rems('margin-top',4.4)
  table
    width: 62%
    @media #{$phone}
      width: 100%
    td
      color: $dark_grey
      text-align: left
      font-family: 'HPSimplifiedLight', sans-serif
      @include rems(padding, 0.5, 0, 0.5, 4)
    td:first-child
      color: $black
  .drawingImageHolder
    .row
      @include rowMachine(3,0.5%)
      float: left
      margin-bottom: 0
      width: 40%
      &:nth-child(1)
        width: 20%
        margin-right: 0
      &:nth-child(2)
        margin-right: 0
      @media #{$phone}
        @include rowMachine(1,0)