.module-12
  .container
    position: relative
    background: url("images/getToKnow.png")
    @include rems('margin-top',1)
    @include rems('margin-bottom',1)
    .row
      @media #{$phone}
        @include rowMachine(1,0)
        &.getToKnowImage
          position: relative !important
          @include rems('height',33)
      @include rowMachine(2,0)
      display: block
      float: left
      &.getToKnowImage
        position: absolute
        right: 0
        top: 0
        bottom: 0
        .image
          display: table
          width: 100%
          height: 100%
          background-size: cover !important
      &.getToKnowText
        @media #{$phone}
          text-align: center
        @include rems('padding',4.5,5)
        color: $white
        h4
          @include font-size(2.4, 2.4)
        h2
          @include font-size(3.6, 3.6)


