.module-22
  .container
    @include rems('margin-top',1)
    @include rems('margin-bottom',1)
    .headingWrapper
      h2
        width: 100%
        float: left
        text-align: center
        @include font-size(4,4)
        position: relative
        color: $black
      a
        font-size: 18px
        position: absolute
        right: 0
        text-decoration: none
        color: $burgundy
        font-weight: bold
    .questions
      margin-bottom: 2rem
      .divider
        background: transparent
      h4
        font-weight: bold
        padding: 2rem 1rem
        border-bottom: 1px solid $lite_grey
        @include font-size(1.8,1.8)
        @media #{$phone}
          text-align: center
          @include font-size(2.4,3)
      a
        text-decoration: none
        color: $burgundy
        p
          @media #{$phone}
            @include font-size(2.2,1.5)
      p
        font-weight: bold
        padding: 2rem 1rem
        text-align: center