.module19
  background: url("images/m19-bg.jpg") center top no-repeat
  background-size: cover
  height: 618px
  .container
    +rems('margin-top',0)
    h2
      @include font-size(3.6,3.6)
      +rems('margin',4,0)
      color: $black
      @media #{$tablet-portrait}
        @include rems('padding-left',5)
    .col
      @include rems('padding-bottom',2)
      @include rowMachine(2,0)
      @media #{$phone}
        @include rowMachine(1,0)
      @media #{$tablet-portrait}
        @include rems('margin',0,0,0,5)
      float: left
      margin-bottom: 0
      display: inline
      &:nth-child(1)
        position: relative
        .appsImageHolder
          @media #{$tablet-portrait}
            width: 110%
            margin-left: 10px !important
          @media #{$tablet-landscape}
            width: 100%
          img
            max-width: none
            @media #{$tablet-portrait}
              max-width: 100%
            @media #{$tablet-landscape}
              max-width: 100%


    .colChild
      @include rowMachine(4,0)
      @media #{$phone}
        @include rowMachine(1,0)
      //@include rems('padding-left',2)
      //float: left
      margin-bottom: 0
      display: inline-block
      color: $black
      &:nth-child(1)
        width: auto
        h4
          @include font-size(1.7,1.7)
          @include rems('margin',0,0,1,0)
          color: $black
          font-weight: bold
        .appsIconHolder
          padding: 10px
          height: 80px
          width: 80px
          background: url("images/SproutAppsIcon.jpg") no-repeat
          @media #{$tablet-portrait}
            background-size: 85%
      &:nth-child(2)
        width: auto
        position: relative
        h2
          @include font-size(3,3)
          @include rems('margin',0,0,1,1)
          color: $black
          width: 370px
          position: absolute
          top: 68px
          @media #{$tablet-portrait}
            top: 58px
            padding: 0 !important
            @include rems('margin',0,0,1,0)
      &:nth-child(3)
        @include rems('padding-top',1)
        @include rems('padding-bottom',1)
        width: 100%
        @media #{$tablet-portrait}
          @include rems('padding-right',2)
          @include rems('padding-top',0)
        p
          @media #{$phone}
            text-align: center
          @include font-size(1.8,2.4)
          @media #{$tablet-portrait}
            @include font-size(1.8,2.2)
      &:nth-child(4)
        a
          color: $burgundy
          font-weight: bold
          text-decoration: none
        @include rems('width',37)
        .storeAppsSliderWrapper
          .bx-wrapper
            @media #{$tablet-portrait}
              width: 96%
            .bx-viewport
              width: 325px !important
              height: 184px !important
              border: 2px solid #fff
              @media #{$tablet-portrait}
                width: 323px !important
              @media #{$tablet-landscape}
                width: 323px !important
            .bx-controls
              .bx-controls-direction
                position: relative
                top: -118px
                //left: 6px
                .bx-prev
                  left: -45px
                  background-position: 0 -205px !important
                  @media #{$tablet-portrait}
                    left: -30px
                .bx-next
                  left: 10px
                  background-position: 0 -272px !important
                  @media #{$tablet-portrait}
                    left: 40px
                  @media #{$tablet-landscape}
                    left: 40px
            .bx-pager
              display: none
          //left: -20px
          .appStoreAnchor
            text-align: right

.appsStoreHeading
  .container
    margin-bottom: 1.7rem !important
    @media #{$phone}
      margin-top: 3rem !important


.android-track .bx-next
  @media #{$tablet-portrait}
    left: 76px !important
  @media #{$tablet-landscape}
    left: 15px !important